* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --grey1: rgba(0,0,0,0.3);
  --grey2: rgba(0,0,0,0.4);
  --grey3: rgba(0,0,0,0.5);
  --grey4: rgba(0,0,0,0.6);
}


header {
    display: flex;
    justify-content: center;
    padding: 30px 40px 33px 40px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

nav a {
    flex: 1;
    text-align: center;
    text-justify: center;
    text-decoration: none;
}

.smashing-magazine-logo {
    width: 180px;
    height: auto;
    margin-top: -70px;
    margin-bottom: -70px;
}

.search-bar {
    width: 350px;
}

.to-top-arrow {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    transform: rotate(-15deg);
}

.to-top-arrow img {
    width: 25px;
    height: 25px;
}

.to-top-arrow:hover {
    transform: rotate(0deg);
    background-color: rgba(0,0,0,0.6);
}

.article-grid-1 {
    width: 100%;
    background: var(--grey1);
    height: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.article-grid-1-title {
    position: absolute;
    width: 200px;
    top: 200px;
    left: calc((100%-200px)/2);
}

.grid-1-articles:nth-of-type(1),
.grid-2-articles:nth-of-type(1),
.grid-2-articles:nth-of-type(5),
.grid-2-articles:nth-of-type(9),
.community-articles:nth-of-type(1),
.community-articles:nth-of-type(5),
.design-systems, 
.our-guides-container:nth-of-type(1) {
    background: var(--grey1)
}

.grid-1-articles:nth-of-type(2),
.grid-2-articles:nth-of-type(2),
.grid-2-articles:nth-of-type(6),
.community-articles:nth-of-type(2),
.community-articles:nth-of-type(6),
.our-guides-container:nth-of-type(2) {
    background: var(--grey2)
}

.grid-1-articles:nth-of-type(3),
.grid-2-articles:nth-of-type(3),
.grid-2-articles:nth-of-type(7),
.community-articles:nth-of-type(3),
.community-articles:nth-of-type(7),
.our-guides-container:nth-of-type(3) {
    background: var(--grey3)
}

.grid-1-articles:nth-of-type(4),
.grid-2-articles:nth-of-type(4),
.grid-2-articles:nth-of-type(8),
.person-of-the-week,
.community-articles:nth-of-type(4),
.community-articles:nth-of-type(8),
.our-guides-container:nth-of-type(4) {
    background: var(--grey4)
}

.article-grid-2 {
    display: grid;
    height: 2715px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1.5fr 1.8fr;
    padding-bottom: 100px;
}

.page-break {
    height: 167px;
    background-color: lightgray;
    text-align: center;
    padding-top: 25px;
}

.page-break a {
    padding: 25px 0px 25px 0px;

}

.new-book-section {
    height: 1084px;
}

.community-links-grid {
    display: grid;
    height: 1834px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
}

.person-of-the-week {
    grid-column: 1/3;
}

.design-systems-banner {
    height: 300px;
}

.our-guides-section {
    display: grid;
    width: 100%;
    grid-template-rows: 585px 850px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.our-guides-container:last-of-type {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    width: 45%;
    justify-self: center;
    margin-top: 40px;
}

footer {
    padding-top: 45px;
    width: 90%;
    margin: 0 auto;
}

footer h4 {
    text-align: center;
    margin: 28px 0px;
}

.footer-topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-topics li {
    flex-basis: auto;
    font-size: 50px;
    list-style-type: none;
}

.footer-notes {
    width: 100%;
    height: 22px;
    background-color: lightgray;
    margin-bottom: 5px;
}
.footer-links-container {
    display: flex;
    justify-content: center;
}

.footer-links {
    display: flex;
}

.footer-links li {
    list-style-type: none;
}